<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app='NarrowItDownApp'>
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div ng-controller='NarrowItDownController as list'>
      <div class="form-group">
        <input ng-model="list.searchTerm" type="text" placeholder="search term" class="form-control">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="list.narrowd();">Narrow It Down For Me, please!</button>
      </div>

      <!-- found-items should be implemented as a component -->
      <found-items found="list.found" on-remove="list.remove(index)"></found-items>
    </div>
  </div>

</body>
</html>
